.timer {
  color: #f2faff;
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.time {
  font-weight: bold;
  font-size: 18vh;
}
.timerbtn {
  border: none;
  color: #f2faff;
  font-weight: bolder;
  font-size: 2.5vh;
  margin: 3vh 2vw;
}
.scramble {
  font-size: 3vh;
  font-weight: 600;
}
