@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,600;1,100;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;1,400;1,500&display=swap");
nav {
  padding-left: 45px;

  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: flex-end;
  /* min-height: 8vh; */
  width: 100%;
  color: #f2faff;
  z-index: 10;
  height: 70px;
}
a {
  color: #f2faff;
  text-decoration: none;
}
.nav-links {
  display: flex;
  width: 64%;
  justify-content: space-around;
  z-index: 10;
  font-size: 16.5px;
}
.nav-links li {
  display: inline;
  text-decoration: none;
}
.nav-links a {
  text-decoration: none;
}
.hoverline {
  cursor: pointer;
}
.hoverline::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #d8a421;
  transition: width 0.5;
}
.hoverline:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.burger {
  visibility: hidden;
}

.logoo:hover {
  cursor: pointer;
}
.loginsignup {
  font-size: large;
  background-color: transparent;
  border: 1px solid #707070;
  margin-left: 50px;
  color: white;
  padding: 5px 24.5px;
}
.loginsignup {
  border-radius: 8px;
}
.loginsignup:hover {
  cursor: pointer;
}
h1 {
  font-size: 30.45px;
  font-family: "Mulish", sans-serif;
}
.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #f2faff;
}
